* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: rgb(68, 124, 106);
  }
  html {
    font-size: 62.5%;
  }
  body{
      height: fit-content;
      width: 100%;
      /* background-color: red; */
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      
  }
  .Header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 5.5rem;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  #logo {
    width: 10rem;
    height: 10rem;
  }
  #logo img {
    width: 100%;
  }
  
  #name {
    width: 60%;
    display: flex;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
  }
  
  .Heading {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bolder;
  }
  
  .sudoku_grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 57.8rem;
    flex-wrap: wrap;
  
    margin: 1rem auto;
  }
  
  .sudoku_grid div {
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 6rem;
    height: 6rem;
    color: white;
    font-size: 4rem;
  
    box-sizing: border-box;
  }
  
  .Buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5rem 0 5rem 0;
    /* margin-bottom: 8rem; */
  }

  .Buttons :hover{
    cursor: pointer;
  }
  
  #GetPuzzle,
  #SolvePuzzle {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background-color: #538fbe;
    padding: 1rem 3.5rem;
    font-size: 2.4rem;
    border: 0.1rem solid #2d6898;
    box-shadow: inset 0rem 0.1rem 0rem rgba(255, 255, 255, 0.3);
    margin-right: 1rem;
  }
  
  .box1 {
    background-color: #bb209ef5;
    border: 0.2rem solid white;
  }
  
  .box1:hover {
    background-color: #48aaad;
    color: black;
  }
  
  .box2 {
    background-color: #28c613;
    border: 0.2rem solid white;
  }
  .box2:hover {
    background-color: red;
  }
  
  .box3 {
    background-color: #9c5b1a;
    border: 0.2rem solid white;
  }
  .box3:hover {
    background-color: #3ded97;
    color: black;
  }
  
  .bl {
    border-left: 0.4rem solid black;
  }
  
  .bb {
    border-bottom: 0.4rem solid black;
  }
  
  .br {
    border-right: 0.4rem solid black;
  }
  
  .bt {
    border-top: 0.4rem solid black;
  }
  
  
  /* responsive */
  @media screen and (max-width: 539px) {
  html{
      font-size: 55%;
  }
      
  }
  @media screen and (max-width: 474px) {
  html{
      font-size: 50%;
  }
      
  }
  @media screen and (max-width: 431px) {
  html{
      font-size: 47%;
  }
      
  }
  @media screen and (max-width: 406px) {
  html{
      font-size: 43%;
  }
      
  }
  @media screen and (max-width: 372px) {
  html{
      font-size: 38%;
  }
      
  }
  @media screen and (max-width: 328px) {
  html{
      font-size: 34%;
  }
      
  }
  @media screen and (max-width: 293px) {
  html{
      font-size: 30%;
  }
      
  }
  @media screen and (max-width: 258px) {
  html{
      font-size: 26%;
  }
      
  }
  @media screen and (max-width: 224px) {
  html{
      font-size: 24%;
  }
      
  }
  @media screen and (max-width: 206px) {
  html{
      font-size: 21%;
  }
      
  }
  @media screen and (max-width: 182px) {
  html{
      font-size: 18%;
  }
      
  }